<% title 'Challenges' %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Create New Challenge', new_challenge_path, :class => 'btn btn-primary', :role => 'button' %>
  </div>
  <h1><%= content_for(:title) %></h1>
</div>

<div class="challenges">
  <% @challenges.each do |challenge| %>
    <div class="challenge row margin-bottom" ng-controller="ChallengeDetailCtrl" ng-init="init(<%= challenge.id %>, <%= challenge.likes.count %>, <%= @voted.include?(challenge.id) %>)">
      <div class="counts col-xs-2 text-center">
        <div ng-switch on="voted">
          <div ng-switch-when="true">
            <a class="vote-link voted">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </div>
          <div ng-switch-default>
            <a class="vote-link" href="" ng-click="vote()">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </div>
        </div>
        {{votes}}
      </div>
      <div class="detail col-xs-10">
        <div class="description"><%= link_to challenge.description, challenge %></div>
        <div class="text-muted small">Submitted by <%= link_to challenge.user.display_name, challenge.user %> &bull; <%= pluralize challenge.photos.count, 'Photo' %></div>
      </div>
    </div>
  <% end %>
</div>
