<% title "Challenge ##{@challenge.id}" %>

<div class="jumbotron">
  <h1>Challenge #<%= @challenge.id %></h1>

  <div class="margin-bottom-large text-muted">Submitted
    by <%= @challenge.user.display_name %> &bull; <%= pluralize @challenge.photos.count, 'Photo' %></div>
  <% if @challenge.daily_challenge %>
    <p>
    <div class="badge alert-warning"><span class="glyphicon glyphicon-star"></span> Daily Challenge
      for <%= @challenge.daily_challenge.created_at.strftime('%Y %b %d') %></div>
    </p>
  <% end %>

  <p><%= @challenge.description %></p>

  <% if challenge_editable(@challenge) %>
    <%= link_to 'Edit', edit_challenge_path(@challenge), :class => 'btn btn-primary', :role => 'button' %>
  <% end %>
</div>

<% if @challenge.photos %>
  <%= render 'photos/photos', photos: @challenge.photos %>
<% else %>
  <div class="alert alert-info">
    No photos have been posted for this challenge.
  </div>
<% end %>
