/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

.nav {
  img.avatar {
    max-height: 18px;
  }
}

.challenges {
  .challenge {

    .counts {
      .vote-link {
        color: inherit;
        display: block;

        &.voted {
          color: #d9534f;
        }
      }
    }

    .detail {
    }
  }
}

img.photo {
  max-width: 100%;
}
