<!doctype html>
<html lang="en" ng-app="photoChallengeApp">
<head>
  <title><%= "#{content_for(:title)} | " if content_for?(:title) %>Photo Challenge</title>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/navbar' %>

<div class="container">
  <%= render partial: 'shared/messages', flash: flash %>
  <%= yield %>
</div>

</body>
</html>
